.kanakitty-container {
  text-align: center;
  color: white;
  margin-top: 100px;
  padding: 0px 30px;
}

.kanakitty-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 5px;
}

.video-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(170, 170, 170, 0.168627451);
  padding: 40px 0px;
  border: 3px solid #fff;
  border-bottom: none;
  @media only screen and (max-width: 959px) {
  // sp
  flex-direction: column;
  align-items: center;
  }
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.video-wrapper iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: none;
}

.video-caption {
  font-size: 14px;
  margin-top: 10px;
  color: white;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 150px;
  background: rgba(170, 170, 170, 0.168627451);
  border: 3px solid #fff;
  border-top: none;
  margin-bottom: 100px;
  p {
    margin-top: unset;
    padding: 30px;
    padding: 0px 30px 30px 30px;
  }
}
