.contact-container {
  text-align: center;
  color: white;
  // background-color: #1E1B1B;
  background-size: 100% 100%;
  margin-top: 100px;
  padding: 0px 30px;
}

.contact-title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
}

.contact-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 1000px;
  column-gap: 33px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #fff;
  background: rgba(170, 170, 170, 0.168627451);
  padding: 30px 0px;

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 14px;
  margin-top: 4px;
  max-width: 1000px;

  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
  }
  input,
  textarea {
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 13px;
    margin-top: 5px;
    max-width: 500px;
    width: 66vw;
  }
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.optional {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.full-width {
  grid-column: span 2;
}

.submit-btn {
  grid-column: span 2;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: white;
  color: black;
}

.error-message {
  font-family: monospace;
  color: #20d520;
  padding: 0px 20px;
}
